.flexbox_usual {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox_center {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary_text {
  font-size: var(--font-size-text-primary-desktop);
}

.secondary_text {
  font-size: var(--font-size-text-secondary-desktop);
}

.margin_section {
  margin: 0 50px 0 50px;
}